body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./asset/bg-grey_polygon@3x.png");
  background-repeat: round;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row{
  margin-top : 5%;
}

.container{
  margin-top:5%;
  margin-bottom:5%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.label-checkbox {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.label-checkbox .check-box-effect {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  border: 2px solid #ddd;
  border-radius: 10%;
}

.label-checkbox .check-box-effect:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #626262;
  position: absolute;
  transform: rotate(45deg);
  top: 11px;
  left: 6px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}

.label-checkbox .check-box-effect:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #626262;
  position: absolute;
  transform: rotate(305deg);
  top: 15px;
  left: 7px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}

.label-checkbox:hover .check-box-effect:before {
  width: 5px;
  transition: width 100ms ease;
}

.label-checkbox:hover .check-box-effect:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

.check {
  display: none;
}

.check:checked + .check-box-effect {
  transform: scale(1.25);
}

.check:checked + .check-box-effect:after {
  width: 10px;
  background: #333;
  transition: width 150ms ease 100ms;
}

.check:checked + .check-box-effect:before {
  width: 5px;
  background: #333;
  transition: width 150ms ease 100ms;
}

  .check:checked:hover + .check-box-effect {
      
      background-color: #dcdcdc;
      transform: scale(1.25);
  }

.check:checked:hover + .check-box-effect:after {
  width: 10px;
  background: #333;
  transition: width 150ms ease 100ms;

}

  .check:checked:hover + .check-box-effect:before {
      width: 5px;
      background: #333;
      transition: width 150ms ease 100ms;
  }

  .label-checkbox.disable:hover{
      cursor:not-allowed;
  }


.label-cashpage{
  font-size: 1.5em;
  text-align: center;
  color : black;
}